header {
  @apply pb-[calc(100vh-450px)] md:pb-[calc(100vh-340px)] lg:pb-[calc(100vh-500px)];
}

.HeroText {
  @apply mt-32 ml-0 md:ml-44 lg:mt-52 lg:ml-60;
}

.HeroText h1 {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-7xl font-bold text-accent-1 mb-10 md:mb-6 text-center md:text-left;
}

.HeroText h2 {
  @apply text-2xl sm:text-3xl md:text-4xl lg:text-6xl font-bold text-[#5378AC] mb-20 md:mb-0 text-center md:text-left;
}

.MobileMenu__Background {
  @apply fixed lg:hidden top-0 left-0 w-full h-full backdrop-blur-[3px] z-20;
}

.ScrollButton {
  @apply w-full flex justify-center mt-24 sm:mt-36;
}

.ScrollArrow {
  @apply block w-[16px] h-[16px] border-2 border-r-accent-3 border-b-accent-3 border-l-transparent border-t-transparent;
  transform: rotate(45deg);
  margin: 0 0 3px 4px;
}

.ScrollArrow__First, .ScrollArrow__Second, .ScrollArrow__Third {
  animation: down-animation 1s infinite;
}

.ScrollArrow__First {
  animation-direction: alternate;
  animation-delay: alternate;
}

.ScrollArrow__Second {
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.ScrollArrow__Third {
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}

@keyframes down-animation {
  0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}
